{{define "navbar"}}
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/create">Create new user</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
{{end}}
